* {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.text-primary {
    color: #fd6e0a;
}

.btn-primary {
    height: 64px;
    background-color: #fd6e0a;
    color: #ffffff;
    border: 0;
    background-position: bottom 50px right 100px;
    padding: 18px 35px 19px 36px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
}

.btn-primary-1 {
    height: 64px;
    border-radius: 5px;
    background-color: #fd6e0a;
    color: white;
    padding: 18px 35px 19px 36px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
}

.btn-primary-1:nth-child(1) {
    margin-right: 15px;
}

.header {
    background-color: #fff8f3;
    background-image: url("/developer-portfolio/images/header_bg.png"),
        url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* Header and navigation styles */

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* Banner styles */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}

.banner p {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

.banner .btn-primary {
    padding: 19px 17px 18px 51px;
    margin-right: 30px;
}
.banner .btn-secondary {
    padding: 18px 23px;
    font-weight: 700;
    font-size: 20px;
    color: #fd6e0a;
}

/* Main section */
.main-section {
    max-width: 1140px;
    margin: 0px auto;
}
section {
    margin-top: 130px;
}

/* About section styles */
.about {
    background-color: #fff8f3;
    border-radius: 10px;
    padding: 85px 95px 177px 218px;
    margin-bottom: 91px;
}

.section-title {
    text-align: center;
    color: #181818;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    text-align: center;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about .info-title {
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}

.about .info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* What I do styles */
.section-description {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 50px;
}

/* Skill styles */
.about-skills {
    display: flex;
    gap: 24px;
}
.skill {
    background: #ffffff;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    color: #181818;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
}

/* resume-content */

.resume-content {
    margin-top: 113px;
    display: flex;
    gap: 24px;
}
.resume-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.resume .title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume .sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}
.resume .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-btn {
    margin-top: 50px;
    text-align: center;
}

/* Contact styles */

.contact {
    display: flex;
    gap: 117px;
    background-color: #fff8f3;
    padding: 130px 230px 130px 230px;
}
.contact .section-title {
    text-align: left;
}

.contact .description {
    color: #474747;
    margin-bottom: 30px;
}

.contact input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    padding: 18px 30px;
}
